<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lasu.hyperduty.mapper.DutyScheduleEmployeeMapper">

    <select id="getEmployeeIdsByScheduleId" resultType="java.lang.Long">
        SELECT employee_id
        FROM duty_schedule_employee
        WHERE schedule_id = #{scheduleId}
        ORDER BY sort_order ASC
    </select>

    <select id="getEmployeesByScheduleId" resultType="com.lasu.hyperduty.entity.DutyScheduleEmployee">
        SELECT *
        FROM duty_schedule_employee
        WHERE schedule_id = #{scheduleId}
        ORDER BY sort_order ASC
    </select>

    <delete id="deleteByScheduleId">
        DELETE FROM duty_schedule_employee
        WHERE schedule_id = #{scheduleId}
    </delete>

</mapper>
